# ==========================================
# 1. Binary & Build Outputs
# ==========================================
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
build/
dist/

# ==========================================
# 2. IDE & Editor Junk
# ==========================================
# VS Code
.vscode/
*.code-workspace

# JetBrains (GoLand / IntelliJ)
.idea/

# Windows OS junk
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Mac OS junk
.DS_Store

# ==========================================
# 3. Project Specific Loose Files & Logs
# ==========================================
command.txt
Future.txt
RoadMap.txt

# Local Checkpoint Data & Test Logs
local/
local_checkpoints/*
!local_checkpoints/.gitkeep
*.log

*.drawio.bkp
*.drawio.dtmp

# ==========================================
# 4. Local Configurations & Sensitive Data
# ==========================================
configs/fromis*.yaml
accounts.yaml


# ==========================================
# 5. Dependency Vendor
# ==========================================
vendor/